body{
    margin: 0;
}

.mainContainer{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTwo{
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.top{
    width: 80%;
    height: 50%;
    background-color: red;
    top: 100;
    position: absolute;
    top: -20px;
}

.bot{
    width: 100%;
    height: 50%;
    background-color: rgb(243, 62, 62);

}