body{
    margin: 0;
    padding: 0;
}

.nav{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    position: static;
    z-index: 2;
}

.nav-top{
    width: 100%;
    height: 60px;
    background-color: #3f6d69;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nt-main{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nt-main i{
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.nt-main i:hover{
    transition: 0.4s;
    opacity: 0.3;
}

.nt-main p:hover{
    transition: 0.4s;
    opacity: 0.3;
}

.nt-main select:hover{
    transition: 0.4s;
    opacity: 0.3;
}

.nt-main p{
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-kerning: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  ;
}

.nt-main select{
    cursor: pointer;
    color: white;
    background-color: #3f6d69;
    border: none;
    font-size: 16px;
}

.nt-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;    
}

.nt-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.nav-bot{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nb-main{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nb-main a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #3f6d69;
    font-kerning: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nb-main i{
    cursor: pointer;
    font-size: 16px;
    color: #3f6d69;
}

.nb-main i:hover{
    opacity: 0.3;
    transition: 0.4s;
}

.nb-main a:hover{
    opacity: 0.3;
    transition: 0.4s;
}

.nb-left{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nb-left img{
    width: 55px;
    height: 53px;
    cursor: pointer;
}

.nb-right{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.slide-show{
    width: 100%;
    height: 600px;
    background-color: rebeccapurple;
}

#slide-one{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url(3197P8_fototapeta_fototapete_foto_tapeta_tapete_cena_najpovoljnije_novi_sad_01.jpg);
}

#slide-one h1{
    background-color: #3f6d69;
    
    color: white;
    font-size: 90px;
    margin-left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-one p{
    margin-left: 400px;
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.more{
    margin-left: 400px;
    margin-top: 40px;
    width: 120px;
    height: 60px;
    border: none;
    background-color: #2e4e4c;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-two{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url(betonski-blokovi.jpg);
    background-size: 100%;
    background-position:center;
}

#slide-two h1{
    color: white;
    font-size: 90px;
    margin-left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-two p{
    margin-left: 400px;
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-three{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url(dd2f3a4aa73a2dfcafc8-presernov-trg.jpeg);
    background-size: 100%;
    background-position: center;
}

#slide-three h1{
    color: white;
    font-size: 90px;
    margin-left: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-three p{
    margin-left: 400px;
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#slide-four{
    width: 100%;
    height: 600px;
}

.abtus{
    margin-left: 400px;
    margin-top: 40px;
    width: 120px;
    height: 60px;
    border: none;
    background-color: white;
    color: #2e4e4c;
    font-size: 26px;
    border-radius: 10px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





.footer{
    width: 100%;
    height: 350px;
    background-color: #3f3f3f;
    position:static;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer-main{
    height: 100%;
    width: 87%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.fm-pic{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fm-pic img{
    width: 100px;
    height: 90px;
    cursor: pointer;
}

.fm-st{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 20px;
}

.fm-st h2{
    color: white;
    font-size: 26px;
    font-kerning: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.st-ul{
    list-style: none;
    font-size: 26px;
    padding: 0;
    margin: 0;
} 

.st-li{
    margin-bottom: 13px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-kerning: none;
    cursor: pointer;
}   

.st-li-s{
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.st-li:hover{
    opacity: 0.3;
    transition: 0.5s;
}

.st-li i{
    margin-right: 20px;
    background-color: #3f6d69;
    border-radius: 30%;
    text-align: center;
    line-height: 15px;
    vertical-align: middle;
    padding: 10px;
}

.fm-nd{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 20px;
}

.fm-nd ul{
    list-style: none;
    margin-top: 47px;
    padding: 0;
}

.fm-nd li{
    margin-bottom: 20px;
}

.li-nd{
    font-size: 26px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-kerning: none;
    cursor: pointer;
    font-weight: 500;
}

.li-nd:hover{
    opacity: 0.3;
    transition: 0.5s;
}

.li-ico{
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.li-ico i:hover{
    opacity: 0.3;
    transition: 0.5s;
}

.li-ico i{
    margin-right: 15px;
}

.fm-nd span{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-kerning: none;
}

.fm-rd{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 20px;
}

.fm-rd ul{
    list-style: none;
    padding: 0;
    margin-top: 26px;
}

.rd-li{
    color: white;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rd-li:hover{
    opacity: 0.3;
    transition: 0.5s;
}