body{
    margin: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: width 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item:hover{
    width: 300px;
    transform: rotate(120deg);
}

.item i{
    font-size: 28px;
    transition: 2s;
}

.item i:hover{
    transform: rotate(180deg);
}
